In [11]:
import pandas as pd
import numpy as np

In [4]:
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
df = pd.read_csv(url, encoding='latin-1')
display(df.head())
display(df.info())

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

None

In [6]:
q10 = df.groupby("Item")[['Y2014', 'Y2017']].sum()
display(q11.loc['Animal fats'])

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

In [7]:
q11 = df.Y2015.describe()
display(q12)

count     59395.000000
mean        135.235966
std        1603.403984
min       -3161.000000
25%           0.000000
50%           0.080000
75%           8.460000
max      181137.000000
Name: Y2015, dtype: float64

In [13]:
q12 = df['Y2016'].isnull().sum()
display(q13)
q13 = df['Y2016'].value_counts(normalize=True,dropna=False)
display(q14)

1535

0.00        0.426005
1.00        0.042761
NaN         0.025187
2.00        0.023743
3.00        0.016901
              ...
5099.00     0.000016
2717.00     0.000016
11948.00    0.000016
419.48      0.000016
19.45       0.000016
Name: Y2016, Length: 4521, dtype: float64

In [17]:
q14 = df.corr().nlargest(2, 'Element Code')['Element Code']
display(q15)

Element Code    1.000000
Y2014           0.024457
Name: Element Code, dtype: float64

In [23]:
q15 = df.groupby("Element").sum().loc['Import Quantity', 'Y2014': 'Y2018']
display(q16)

Y2014    274144.48
Y2015    267018.46
Y2016    286582.78
Y2017    294559.09
Y2018    287997.09
Name: Import Quantity, dtype: float64

In [26]:
q16 = df.groupby("Element")[['Y2014']].sum().loc['Production']
display(q17)

Y2014    1931287.75
Name: Production, dtype: float64

In [27]:
v = df[['Y2018', 'Element']].groupby("Element").sum()
q17 = v.nlargest(1, 'Y2018')
display(q17)
q18 = v.nsmallest(3, 'Y2018')
display(q18)

                              Y2018
Element
Domestic supply quantity  2161192.1

                                           Y2018
Element
Tourist consumption                        90.00
Fat supply quantity (g/capita/day)      10258.69
Protein supply quantity (g/capita/day)  11833.56

In [29]:
q19 = df.groupby(['Area', 'Element'])['Y2018'].sum()
display(q19.loc[('Algeria', 'Import Quantity')])

36238.29

In [31]:
print(df['Area'].nunique())

49